body {
background-color: #DDFFF7;
width : 1024px;
margin: 0 auto;
}
.test
{
    width: 100%;
    margin: 10px auto;
    text-align: center;
}
form
{
    width: 100%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
table
{
border:ridge 5px #B2C1FF;
background-color: #A0ECFF;
}
table td       {border:inset 2px #B2C1FF;}
.bold { font-weight: bold; }
.head_tabel { font-size:120%; }
.low_tabel 
{
	font-size:95%;
	color:#606060;
}
div.header_top {
    width: 100%;
    margin: 10px auto;
    text-align: center;
    flex-wrap:wrap;
}

div.header_top a{
  display:inline-block;
  padding:30px;
}
h1.Load_titel {
    width: 100%;
    margin: 10px auto;
    text-align: center;
    flex-wrap:wrap;
}