<!DOCTYPE html>

<html lang="en">
    <head>
        <title>ТАБЛИЦА ЗСК</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="header_top">
    <header>
        <a href="/" >Таблица</a>
        <a href="/r_load_file" >Загрузить</a>
        <a href="/out_file" >Выгрузить</a>
        <a href="/cod_tabel" >Коды</a>
        <a href="/mail_list" >Список рассылки</a>
    </header>
  </div>
        {% block body %}{% endblock %}
    </body>
</html>